<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/public/css/main.css" />
    <title>Forgot Password</title>
  </head>

  <body>
    <!--Navigation menu can be removed if thought as unecessary-->
    <!--Navigation EJS Partial call do not remove-->
    <%- include('../views/partial/_navHeader.ejs'); %>

    <div class="forgotPass__container">
      <div class="card w-50 m-auto pb-4 pt-5">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <h2 class="text-center mb-4">Forgot Password</h2>
            <% if(messages.error) { %>
            <div class="alert alert-danger" role="alert">
              <strong><%= messages.error %></strong>
            </div>
            <% } %>
            <form action="/forgot-password" method="POST">
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  id="email"
                  aria-describedby="emailHelp"
                />
                <small id="emailHelp" class="form-text text-muted"
                  >We'll send you a password reset link</small
                >
              </div>
              <button type="submit" class="btn btn-outline-primary btn-block">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--Navigation menu script do not remove-->
    <script src="../public/menu-toggle-transition.js"></script>
  </body>
</html>
