<!DOCTYPE html>

<!--Main Homepage View-->
<!--Author-->
<!--Last Update: Sat Mar 4th-->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/public/css/main.css" />
    <title>Home</title>
  </head>
  <body>
    <!--Navigation EJS Partial call do not remove-->

    <%- include('../views/partial/_navheaderUserHub.ejs') %>

    <!--Hero Section-->

    <div class="page__container">
      <div class="content__container" style="padding-top: 6rem">
        <h2><span class="fa fa-file"></span> My content</h2>
        <a
          class="btn btn-primary my-2"
          style="border-radius: 50px"
          href="${editor.config.baseUrl
      }/new"
        >
          <span class="fa fa-plus-circle m-2"></span>Create new content
        </a>
        <div class="list-group" style="padding-top: 1rem">
          $ {contentObjects .map( (content) => `
          <div
            class="list-group-item"
            style="
              border-radius: 5px;
              box-shadow: 0px 2px black;
              margin-top: 0.5rem;
            "
          >
            <div class="d-flex w-10">
              <div class="me-auto p-2 align-self-center">
                <a
                  href="${editor.config.baseUrl}${editor.config.playUrl}/${content.id}"
                >
                  <h5>${content.content.title}</h5>
                </a>
                <hr />
                <div class="small d-flex">
                  <div class="me-2">
                    <span class="fa fa-book-open"></span>
                    ${content.content.mainLibrary}
                  </div>
                  <div class="me-2">
                    <span class="fa fa-fingerprint"></span>
                    ${content.id}
                  </div>
                </div>
              </div>
              <div class="p-2">
                <a
                  class="btn btn-outline-secondary"
                  style="border-radius: 20px"
                  href="${editor.config.baseUrl}/edit/${content.id}"
                >
                  <span class="fa fa-pencil-alt m-1"></span>
                  edit
                </a>
              </div>
              <div class="p-2">
                <a
                  class="btn btn-outline-primary"
                  style="border-radius: 20px"
                  href="${editor.config.baseUrl}${editor.config.downloadUrl}/${content.id}"
                >
                  <span class="fa fa-file-download m-1"></span>
                  download
                </a>
              </div>
              <div class="p-2">
                <a
                  class="btn btn-outline-danger"
                  style="border-radius: 20px"
                  href="${editor.config.baseUrl}/delete/${content.id}"
                >
                  <span class="fa fa-trash-alt m-1"></span>
                  delete
                </a>
              </div>
            </div>
          </div>
          ` ) .join("")}
        </div>
        <hr />
      </div>
    </div>
    ;
    <!--End of Hero Section-->

    <!--Service Section-->
    <div class="services">
      <h1>See what the hype is about</h1>
      <div class="services__container">
        <div class="services__card">
          <h2>Experience a better way</h2>
          <img src="/public/img/H5P-Logo.png" alt="" />
          <p>Improved for convenice</p>
          <button><a href="https://h5p.org/">Learn more</a></button>
        </div>
        <div class="services__card">
          <h2>Are you ready?</h2>
          <img
            src="/public/img/H5P-Content.png"
            style="width: 350px; height: 145px"
            alt=""
          />
          <p>Jump right in!</p>
          <button><a href="">Get Creating</a></button>
        </div>
      </div>
    </div>

    <!--Navigation menu script do not remove-->
    <script src="../public/menu-toggle-transition.js"></script>
  </body>
</html>
