<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <style>
            .container {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100vh;
            }
            .header-container {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        </style>
    </head>

    <body>
        <%# parital header, check what classes its associated with because the css will affect it as well %>
        <%- include('../views/partial/_header.ejs'); %>  

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary mr-2" onclick="window.location.href='/registration'">Register</button>
                    <button class="btn btn-secondary" onclick="window.location.href='/login'">Login</button>
                </div>
            </div>
        </div>


        <%- include('../views/partial/_sitemap.ejs'); %>  
    </body>
</html>