<!DOCTYPE html>

<!--Main Homepage View-->
<!--Author-->
<!--Last Update: Sun Feb 12-->

<html lang="en">
  <head>
    <title>H5P</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/public/img/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
  </head>
  <body>
    <%- include('../views/partial/_navHeader.ejs'); %>

    <!--Hero Section-->
    <div class="main">
      <div class="main__container">
        <div class="main__content">
          <h1>POWERED BY H5P</h1>
          <h2>INTERACTIVE</h2>
          <p>AND CREATIVE</p>
          <button class="main__btn"><a href="/registration">Get Started</a></button>
        </div>
        <div class="main__im__container">
          <img src="/public/img/content-creator.svg" alt="" id="main__img" />
        </div>
      </div>
    </div>
    <!--End of Hero Section-->

    <!--Navigation menu script do not remove-->
    <script src="../public/menu-toggle-transition.js"></script>
  </body>
</html>
