:root {
  --navbar-backdrop-color: #eaf7ff;
  --backdrop-color: #eaf7ff; /*Chnage this to any color to affect chnage in overall backdrop color*/
  --navbar-links-color: #131313; /*Menu Links and inverted color chnaged for text or menu links from here*/
  --button-color: #4837ff; /*Button text color can be chnaged using this*/
  --button-text-color: #fff;
}

/*fonts to be used*/
@font-face {
  font-family: Nueue;
  src: url("/public/fonts/Helvetica 43 Light Extended.otf") format("opentype");
}

/*General CSS*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Nueue;
}

/*CSS for Navbar UserHub*/
.user__toggle,
.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--navbar-links-color);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

@media (max-width: 500px) {
  .card {
    width: 30rem;
    height: 15rem;
  }
}
/*End of CSS for Navbar UserHub*/

/*Start of your Nav Bar CSS*/
.navbar {
  background: var(--backdrop-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;

  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  font-weight: 700;
}

#navbar__logo {
  font-size: 3rem;
  background-color: var(--button-color);
  background-image: linear-gradient(to top, #4f5bff 0%, #a74fff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 30px;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: var(--navbar-links-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 50px;
  background-image: linear-gradient(to top, #4f95ff 0%, #a74fff 100%);
  color: var(--button-text-color);
}

.button:hover {
  background: var(--button-color);
  transition: all 0.3s ease;
  color: var(--navbar-backdrop-color);
  text-decoration: none;
}

.navbar__links:hover {
  color: #4837ff;
  transition: all 0.3s ease;
}

/*Nav Bar container mobile response*/
@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }

  .navbar__menu.active {
    background: var(--backdrop-color);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--navbar-links-color);
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  /*Mobile menu that appears when page is resized*/
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  /*End of Nav bar menu mobile repsonse*/
}
/*End of nav Bar mobile response*/
/*End of Nav bar CSS*/

/*Hero Section CSS PLEASE DO NOT*/
/*This takes care of your main front page display
that essentailly engages viewers or pulls in viewers*/
.main {
  background-color: var(--backdrop-color);
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  background-color: var(--backdrop-color);
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main__content h1 {
  font-size: 4rem;
  background-color: #4f95ff;
  background-image: linear-gradient(to top, #4f5bff 0%, #8696d0 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content h2 {
  font-size: 4rem;
  background-color: #4f95ff;
  background-image: linear-gradient(to top, #4f95ff 0%, #a74fff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  font-size: 4rem;
  background-color: #4f95ff;
  background-image: linear-gradient(to top, #4f95ff 0%, #a74fff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__btn {
  font-size: 1rem;
  background-image: linear-gradient(to top, #4f95ff 0%, #a74fff 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 50px;
  color: var(--button-color);
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: var(--button-text-color);
  text-decoration: none;
}

.main__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--button-color);
  transition: all 0.35s;
  border-radius: 50px;
}

.main__btn:hover {
  color: var(--button-color);
}

.main__btn:hover:after {
  width: 100%;
}

.main__img__container {
  text-align: center;
}

/*Image sizing here*/
#main__img {
  height: 100%;
  width: 100%;
}

/*Mobile Responsive*/
@media screen and (max-width: 768px) {
  .main__container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 3rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

/*max-wdith for mobile responsive changes here
hence based on resize thes values will accordingly resize*/
@media screen and (max-width: 480px) {
  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}
/*Services Section CSS PLEASE DO NOT REMOVE*/
.services {
  background: var(--backdrop-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.services h1 {
  background-color: #ff8177;
  background-image: linear-gradient(
    to right,
    #4f95ff 0%,
    #7baef9 0%,
    #5d9af5 52%,
    #2c5da5 78%,
    #0f3774 100%
  );

  background-size: 100%;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.services__card h2 {
  margin-left: 6em;
  padding-bottom: 2rem;
}

.services__card p {
  margin-left: 9em;
  padding-top: 1rem;
}

.services__container {
  background-color: var(--backdrop-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.services__card {
  background-color: var(--backdrop-color);
  margin: 1rem;
  height: 525px;
  width: 600px;
  border-radius: 4px;
  background-image: linear-gradient(
      to button,
      rgba * (0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0) 100%
    ),
    url("/public/images/H5P-Logo.png");
  background-size: cover;
  position: relative;
  color: var(--navbar-links-color);
}

.services__card button {
  font-size: 1rem;
  background-image: linear-gradient(to top, #4f95ff 0%, #a74fff 100%);
  margin: 9em;
  padding: 14px 32px;
  border: none;
  outline: none;
  border-radius: 50px;
  color: var(--button-color);
  margin-top: 2rem;
  cursor: pointer;
  position: absolute;
  transition: all 0.35s;
  outline: none;
}

.services__card a {
  position: relative;
  z-index: 2;
  color: var(--button-text-color);
  text-decoration: none;
}

.services__card button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #4837ff;
  transition: all 0.35s;
  border-radius: 50px;
}

.services__img__container {
  text-align: center;
}

.services__card button:hover {
  color: var(--button-color);
}

.services__card button:hover:after {
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .services__card {
    height: 325px;
  }

  .services h1 {
    font-size: 2rem;
    margin-top: 3rem;
    margin-left: 2rem;
  }
}

/*End of Hero Section Index Page*/

/*This is the new login CSS, major changes to HTML and CSS made for clarity and consistency*/
.login {
  background-color: var(--backdrop-color);
}

.login__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  background-color: var(--backdrop-color);
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
}

.login__content {
  font-size: 1rem;
  background-color: var(--backdrop-color);
  padding: 10%;
}

.login__form__container {
  display: grid;
  align-items: center;
  justify-self: center;
  text-align: center;
  height: 70vh;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 28%;
  background-color: #ffff;
  border-radius: 40px;
}
.login__form__container h5 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.form__validation {
  display: grid;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  text-align: center;
}
.form__input {
  display: grid;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  z-index: 1;
  height: 250%;
  width: 100%;
  max-width: 1300px;
  border-radius: 20px;
  text-indent: 10px;
}

.login__btn {
  font-size: 1rem;
  background-image: linear-gradient(to top, #4f95ff 0%, #a74fff 100%);
  padding: 10px 32px;
  border: none;
  border-radius: 40px;
  color: var(--button-text-color);
  margin-top: 0.5rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.login__btn a {
  position: relative;
  z-index: 2;
  color: var(--button-text-color);
  text-decoration: none;
}
.login__btn:hover {
  background: var(--button-color);
}

.login__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all 0.35s;
  border-radius: 40px;
}

.login__btn:hover:after {
  width: 100%;
}
/*end of login CSS*/

/*Start of Mobile response for Login page*/
@media screen and (max-width: 700px) {
  .login__container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    height: 180vh;
  }

  .login__content {
    text-align: center;
    display: grid;
    margin-bottom: 6rem;
    margin-top: 4rem;
  }

  /*Mobile response for exaple image*/
  /*This needs to becked and possibly redone*/

  .image__item {
    display: grid;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 20vh;
    z-index: 1;
    width: 20%;
    max-width: 1300px;
    padding-right: 50%;
    padding-top: 10%;
  }
}

@media screen and (max-width: 480px) {
  .login__content h5 {
    font-size: 2rem;
    margin-top: 3rem;
  }
}
/*end of Mobile response CSS*/

/*Start of Image container for login page*/
.image__container {
  background-color: var(--backdrop-color);
  display: grid;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 80vh;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
}

.image__item {
  display: grid;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 70vh;
  z-index: 1;
  width: 130%;
  max-width: 1300px;
  padding-right: 50%;
  padding-top: 10%;
}

#h5p__img {
  height: 120%;
  width: 130%;
  border-radius: 40px;
}
/*End of image CSS for login page*/

/*Start of regsiter CSS*/
.register {
  background-color: var(--backdrop-color);
}

.register__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  background-color: var(--backdrop-color);
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  max-width: 1300px;
}

.register__form__container h5 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.register__content {
  font-size: 1rem;
  background-color: var(--backdrop-color);
}

.register__form__container {
  display: grid;
  align-items: center;
  justify-self: center;
  text-align: center;
  height: 70vh;
  z-index: 1;
  width: 80%;
  max-width: 1300px;
  margin-left: 10%;
  padding: 0 110px;
  background-color: #ffff;
  border-radius: 40px;
}

.form__validation__reg {
  display: grid;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  text-align: center;
}

.form__input {
  display: grid;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  border-radius: 20px;
  text-indent: 10px;
}

.register__btn {
  font-size: 1rem;
  background-image: linear-gradient(to top, #4f95ff 0%, #a74fff 100%);
  padding: 10px 32px;
  border: none;
  border-radius: 40px;
  color: var(--button-text-color);
  margin-top: 0.5rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.register__btn a {
  position: relative;
  z-index: 2;
  color: var(--button-color);
  text-decoration: none;
}

.register__btn:hover {
  background: #4837ff;
}

.register__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all 0.35s;
  border-radius: 40px;
}

.register__btn:hover:after {
  width: 100%;
}
/*End of regsiter CSS*/

/*Registration info Div CSS*/
.register__info {
  display: grid;
  align-items: center;
  justify-self: center;
  text-align: justify;
}
/*End of registration info CSS*/

/*Start of Mobile response for register page*/
@media screen and (max-width: 700px) {
  .register__container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    height: 110vh;
  }

  .register__content {
    text-align: center;
    display: grid;
    margin-bottom: 2rem;
  }

  .register__info {
    display: grid;
    text-align: justify;
    align-items: center;
    width: 80%;
  }
}
/*End of mobile reposnse for register page*/

/*Boostrap Login page CSS*/
.h-100 {
  background-color: var(--backdrop-color);
  border-color: #4837ff;
}

.card,
.form-control {
  border-radius: 30px;
  border-color: var(--button-color);
}
.gradient-custom-2 {
  /* fallback for old browsers */
  background: var(--backdrop-color);

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #4f95ff 0%, #a74fff 100%);

  border-radius: 50px;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #4f95ff 0%, #a74fff 100%);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 89vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    border-radius: 50px;
  }
}
/*End of Bootsrap login CSS*/

/*Start of Boostrap Admin User management CSS*/

.pagination {
  background-color: var(--backdrop-color);
}
/*End of Boostrap Users CSS*/

/*CSS for the content creation page, may be subject to change.*/
.embed-responsive-item {
  background-color: var(--backdrop-color);
}

.forgotPass__container {
  height: 88vh;
  background-color: var(--backdrop-color);
  padding-top: 10%;
}
