<!--Main Homepage View-->
<!--Author-->
<!--Last Update: Sat Mar 4th-->

<!--Navbar UserHub Section-->
<!--This navbar is different from index page navbar meant to help users navigate once they have logged in.-->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<nav class="navbar">
  <div class="navbar__container">
    <a href="/" id="navbar__logo">augment</a>
    <div class="navbar__toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a href="/" class="navbar__links" style="font-size: 80%"> Home </a>
      </li>
      <li class="navbar__item">
        <a href="/" class="navbar__links" style="font-size: 80%">Content </a>
      </li>
      <li class="navbar__item">
        <a href="/" class="navbar__links" style="font-size: 80%">
          Organization
        </a>
      </li>
      <!-- Example single danger button -->
      <li>
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-danger dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Action
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </div>
      </li>

      <li class="navbar__btn">
        <a href="/account/create" class="button" style="font-size: 80%">
          Create Content
        </a>
      </li>
    </ul>
  </div>
</nav>

<!--End of Navbar UserHub-->
