<!--Main Homepage View-->
<!--Author-->
<!--Last Update: Sat Mar 4th-->

<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>

<!--Navbar UserHub Section-->
<!--This navbar is different from index page navbar meant to help users navigate once they have logged in.-->
<div
  class="secondarynav_container"
  style="background-color: white; box-shadow: 50px 0px 5px black"
>
  <ul class="nav nav-pills">
    <li class="nav-item" style="margin-top: 15px; margin-left: 15px">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
  </ul>
</div>

<!--End of Navbar UserHub-->
