<div class="site-links">
    <h3>bunch of links to help navigate through the site</h3>
    <a href="../account/homepage">User homepage</a>
    <a href="../password/forgot">Forgot password</a>
    <a href="../">Index</a>
    <a href="../account/login">Login</a>
    <a href="../registration">Registration</a>
    <a href="../password/reset">Reset password</a>
    <a href="../users">Users</a>

</div>